:root {
    --primary: #fff;
    --link-hover: #d2cfcf;
    --primary-main: #242424;
    --placeholder: #898888;
}

.footer-container {
    background-color: var(--primary-main);
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: var(--primary);
}

.footer-sub-header {
    margin-bottom: 24px;
    font-size: 18px;
}

.footer-sub-text {
    margin-bottom: 24px;
    font-size: 14px;
}

.sub-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 14px;
    margin-bottom: 16px;
    border: 1px solid var(--primary);
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-links-wrapper {
    display: flex;
}

.footer-link-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 24px 18px;
    text-align: left;
    width: 200px;
    box-sizing: border-box
}

.footer-link-header {
    margin-bottom: 16px;
    color: var(--primary);
    font-weight: 600;
}

.footer-link-item a {
    color: var(--primary);
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-link-item a:hover {
    color: var(--link-hover);
    transition: 0.3s ease-out;
}

.sub-input::placeholder {
    color: var(--placeholder);
}

.social-media {
    max-width: 1700px;
    width: 100%;
}

.social-media-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 40px auto 0 auto;

}

.social-logo {
    color: var(--primary);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
    display: flex;
    align-self: center;
    margin-bottom: 16px;
    align-items: center;
}

.social-icon-link {
    color: var(--primary);
    font-size: 24px;
}

.copyright {
    color: var(--primary);
    margin-bottom: 16px;
    font-weight: 600;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-bottom: 16px;
    margin-right: 20px;
}

@media screen and (max-width: 820px){
    .footer-links {
        padding-top: 2rem;
    }

    .sub-input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .footer-links-wrapper {
        flex-direction: column;
    }

    .social-media-wrapper {
        flex-direction: column;
    }
}


