:root {
    --background-transparent: #000000d0;
    --primary: #fff;
}

.sign-up-container {
    background: var(--background-transparent);
    padding: 5rem 13rem;
    border-radius: 10px;
}

.sign-up-header {
    color: var(--primary);
    font-weight: 400;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

.sign-up-username,
.sign-up-email,
.sign-up-password,
.sign-up-confirmpwd {
    background-color: transparent;
    padding: 8px 20px 8px 0;
    outline: none;
    border: none;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 5px solid var(--primary);
    color: var(--primary);
}

.sign-up-username::placeholder,
.sign-up-email::placeholder,
.sign-up-password::placeholder,
.sign-up-confirmpwd::placeholder {
    color: var(--primary);
    margin-left: none;
}

.sign-up-error {
    color: var(--primary);
    font-size: 14px;
}